<span class="params">
  <%- param_list.each do |k, v| -%>
    <span class="params--param"><!--
      --><span class="params--key"><%= k %></span><!--
      --><span class="params--value"><%= v %></span><!--
    --></span>
  <%- end -%>
</span>
