// Place all the styles related to the statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.params--param {
  border: 1px solid #ddd;
  display: inline-flex;
}

.params--key {
  display: block;
  background: #eee;
  border-right: 1px solid #ddd;
  padding: 0 3px;
}

.params--value {
  display: block;
  padding: 0 3px;
}
